# Address of the deployed HapilProtocol intelligent contract on StudioNet
NEXT_PUBLIC_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
# GenLayer Studio RPC (StudioNet)
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
