# Address of the deployed HapilProtocol intelligent contract on StudioNet
NEXT_PUBLIC_CONTRACT_ADDRESS=0xBC418EB47917314aFc1c57cD61E19a2367FF174F
# GenLayer Studio RPC (StudioNet)
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
